
$rating_star_checked_path: '../../images/star-checked32x30.png';
$rating_star_unchecked_path: '../../images/star-unchecked32x30.png';
$rating_star_width: 32px;
$rating_star_height: 30px;

.rating {
    background: url($rating_star_unchecked_path) repeat-x;
    margin: 0;
    padding: 0;

    .filled {
        background: url($rating_star_checked_path)repeat-x;
        z-index: 10;
    }

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        width: $rating_star_width;
        height: $rating_star_height;
    }
}

ul.rating {
    display: inline-block;
}

