
html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
    word-wrap: break-word;

}

pre { white-space: pre-wrap; }


.redBorder { border:  2px solid red !important; }


select, input {
    border: none;
}
