/* HEADER */
$header_color: #3aa6f2;
$header_color_search: #0fc6dc;
$header_color_font : #ffffff;
$header_color_shadow: #a1a1a1;

$header_height: 70px;
$header_font_size: 1.4em;


/* HEADER */
.reduced_header {
  background-color: $header_color; /* OK */
  color: $header_color_font;

  top:0px;
  position: fixed;

  width: 100%;

  height: $header_height;

  z-index: 10;
  box-shadow: 0px 5px 5px 0px $header_color_shadow;

}

.reduced_header.search {
  background-color: $header_color_search;
}

/* NAV BAR SECTION */
#reduced_header-navbar {
  text-align: center;

  line-height: $header_height;
  vertical-align: middle;

  font-size: $header_font_size;
  font-family : roboto-light;
  font-weight : bold;
  font-size: 7vw;
  width: 100%;
}

