
$cross_path: '../images/back.png';
$cross_width: 24px;
$cross_height: 23px;

.go-back {
  background-image: url($cross_path);
  width: $cross_width;
  height: $cross_height;

  float: left;
  margin-top: 20px;
  margin-left : 10px;

  cursor: pointer;
}
