$connexion_background_color: #f2f2f2;
$connexion_color_border: #a1a1a1;
$connexion_form_background : #fafafa;
$connexion_form_border : #ebebeb;
$connexion_field_color : #636363;
$connexion_field_border : #757575;
$connexion_background : #eee;
$button_connexion_color : #fff;
$button_connexion_border : #3160B6;
$button_connexion_background : #4a89dc;
$button_connexion_hover : #357bd8;

.view {
  height : 100%;
}

.connexion {
  height : 100%;
  background-color: $connexion_background;
}

.connexionForm {
  display: inline-block;

  width: 80%;
  margin-top: 150px;
  margin-left: 10%;

  background : $connexion_form_background;
  border : 1px solid $connexion_form_border;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
  position : relative;
  margin-bottom : 35px;
  margin-top : 10px;

}

.connexionField {
  padding : 10px;
  display : block;
  width : 84%;
  margin-left : 5%;

  background : $connexion_form_background;
  color : $connexion_field_color;

  border : none;
  border-radius : 0;
  border-bottom : 1px solid $connexion_field_border;


  width : 84%;
  margin-left : 5%;
}

.connexionField:focus {
  outline : none;
}

.bar {
  position : relative;
  display : block;

  width : 84%;
  margin-left : 5%;
  padding: 0 10px 0 10px;
}

.bar:before, .bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4a89dc;
  transition: all 0.2s ease;
}

.connexionField:focus ~ .bar:before, .connexionField:focus ~ .bar:after { width: 50%; }

.bar:before { left: 50%; }

.bar:after { right: 50%; }

.button-connexion {
  position : relative;
  display : inline-block;

  padding : 12px 24px;
  margin : .3em 0 1em;

  width : 90%;
  margin-left : 5%;

  vertical-align : middle;
  color : $button_connexion_color;

  line-height : 20px;
  text-align : center;

  background: $button_connexion_background;
  text-shadow: 2px 2px 0 rgba(39, 110, 204, .5);
  border : 0;
  border-bottom : 2px solid $button_connexion_border;
  cursor : pointer;
}

.button-connexion:hover {
  background : $button_connexion_hover;
}

.alert {
  margin: 10px;
  color: red;
}


