<!doctype html>
<html ng-app="myApp">
<head>

    <title>Talent Map Lite</title>

    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8">

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- LIBS -->
    <% libs.forEach(function(lib){ %>
    <script src="<%= lib %>"></script>
    <% }) %>

    <!-- LAZY LOADING-->
    <script src="//cdn.jsdelivr.net/blazy/1.2.1/blazy.min.js"></script>

    <!-- STYLESHEETS -->
    <% styles.forEach(function(style){ %>
    <link rel="stylesheet" href="<%= style %>" type="text/css">
    <% }) %>


</head>
<body>

    <!-- ANGULAR NG VIEW -->
    <section class="view" ng-view>

    </section>

    <!-- SCRIPTS -->
    <% scripts.forEach(function(script){ %>
    <script src="<%= script %>"></script>
    <% }) %>

    <!-- TEMPLATES -->
    <% templates.forEach(function(template){ %>
    <script src="<%= template %>"></script>
    <% }) %>

</body>
</html>
