<!-- MENU -->
<section class="menu">
    <div ng-app="myApp.menu">
        <button class="icon-menu" ng-click="toggleButton()"></button>
        <ul ng-hide="close" class="open-menu">
            <a ng-repeat="navLink in navLinks" href='#/{{navLink.Title}}'>
                <li class="item_menu" ng-class="{ 'first-item-menu': $first, 'last-item-menu': $last }">
                    <div class="menu-img">
                        <img src="{{navLink.Image}}"/>
                    </div>
                    <div class="menu-name">
                        {{navLink.LinkText}}
                    </div>
                </li>
            </a>
        </ul>
    </div>
</section>
