
$category_color_font: #4d4d4d;

.category-title {
  margin: 0 0 0 0;
  padding: 10px 0 10px 10px;

  color: $category_color_font;
  font-weight: bold;
  text-transform : uppercase;
  font-size: 1.2em;
  font-family: roboto-light;
}


