/* HEADER */
$header_color: #0fc6dc;
$header_color_font: #ffffff;
$header_color_shadow: #a1a1a1;


/* CONTENT */
$content_color: #f2f2f2;

#header {
    background-color: $header_color; /* OK */
    color: $header_color_font;

    width: 100%;
    min-width: 250px;
    top:0px;
    position: fixed;
    height: 26vw;
    min-height: 95px;
    line-height: 26vw;

    transition: all 0.4s ease;
    box-shadow: 0px 5px 5px 0px $header_color_shadow;

    &.sticky {
        min-height: 70px;
        height: 10%;
        padding-left: 20px;
        line-height : normal;
    }
}


#content {
    background-color: $content_color; /* OK */
    margin-top: 26vw;
    padding-top: 10px;
    margin-bottom: 128px;
}

$add_path: '../images/add64.png';
$add_width: 64px;
$add_height: 64px;

#skill-add-button {
    background-image: url($add_path);
    width: $add_width;
    height: $add_height;

    cursor: pointer;
    position: fixed;

    bottom: 25px;
    right: 25px;
}

#header-navbar-title {

    &.sticky {
        visibility: hidden;
    }
}


/* PROFILE SECTION */
.header-profile {
    display:inline-block;
    text-align:left;

    font-size: 2.250em;
    font-family: roboto-light;
}

/* PROFILE IMG SECTION */
#header-profile-img {
    padding: 5px;

    min-width: 50px;
    max-width: 90px;
    width: 20%;

    &.sticky {
        visibility: hidden;
        width:0px;

        opacity:0;
        transition:visibility 0s linear 0.4s,opacity 0.4s linear;
    }

    img {
        height: auto;
        width: 100%;

        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }
}


/* PROFILE NAME SECTION */
.header-profile-name {
    font-size: 8vw;
    transition: all 0.4s ease;
    margin-left: 5px;
    margin-right : 5px;
}

.input-name {
  width : 30%;
  margin-left: 10px;
  margin-right : 10px;

  font-size: 8vw;
  font-family: roboto-light;

  background: $header_color;
  color: $header_color_font;

  border: none;
  border-radius: 0;
  border-bottom: 1px solid $header_color_font;
}

.input-name:focus {
  outline: none;
}
